.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html

    Don't change the container width.
  */
  margin: 0 auto;
  width: 720px;
}

header {
  margin-top: 100px;
  margin-bottom: 70px;
  font-family:  Sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: grey;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 10px 0px;
}

.pagination a {
  color: #222;
  text-decoration: none;
}

.pagination a.disabled {
  color: #ccc;
}

p {
  line-height: 150%;
  font-family: serif;
}

blockquote {
  font-family: serif;
  font-style: italic;
}

footer {
  font-family: serif;
}
